* {
	
}

.flyer {
    width: 100%;
    max-width: 950px;
    height: auto;
    width: auto\9; /* ie8 */

}

nav {
	color: #8FC644;
	/*this doesn't work, but leaving the color here for reference*/
}

.overflowFix {
	padding: 0 15px;
}

#llama {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}