* {
	
}

.flyer {
    width: 100%;
    max-width: 1100px;
    height: auto;
    width: auto\9; /* ie8 */

}

nav {
	color: #8FC644;
	/*this doesn't work, but leaving the color here for reference*/
}

.overflowFix {
	padding: 0 15px;
}

p {
	font-family: 'Syncopate', sans-serif;
	font-size:12px;
}